<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBatchApplication" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="com.java.springbatch.SpringBatchApplication" />
    <module name="SpringBatch" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>